<main id="content" role="main" class="main pt-0">
  <!-- Content -->
  <div class="container-fluid px-3">
    <div class="row">
      <!-- Cover -->
      <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center min-vh-lg-100 position-relative bg-light px-0">
        <!-- Logo & Language -->
        <div class="position-absolute top-0 left-0 right-0 mt-3 mx-3">
          <div class="d-none d-lg-flex justify-content-between">
            <a href="index.html">
              <img class="w-100" src="./assets/static/svg/logos/logo.svg" alt="Image Description" style="min-width: 7rem; max-width: 7rem;">
            </a>


          </div>
        </div>
        <!-- End Logo & Language -->

        <div style="max-width: 23rem;">
          <div class="text-center mb-5">
            <img class="img-fluid" src="./assets/static/svg/illustrations/chat.svg" alt="Image Description" style="width: 12rem;">
          </div>

          <div class="mb-5">
            <h2 class="display-4">Empower your colleagues!</h2>
          </div>

          <!-- List Checked -->
          <ul class="list-checked list-checked-lg list-checked-primary list-unstyled-py-4">
            <li class="list-checked-item">
              <span class="d-block font-weight-bold mb-1">All-in-one tool</span>
              Build, run, and scale your apps - end to end
            </li>

            <li class="list-checked-item">
              <span class="d-block font-weight-bold mb-1">Easily add &amp; manage your services</span>
              It brings together your tasks, projects, timelines, files and more
            </li>
          </ul>
          <!-- End List Checked -->
          <div class="mb-5">
          <h3 class="display-5">You're in a great company!</h3>
        </div>
          <div class="row justify-content-between mt-5 gx-2">
            <div class="col">
              <img class="img-fluid" src="./assets/static/svg/brands/gitlab-gray.svg" alt="Image Description">
            </div>
            <div class="col">
              <img class="img-fluid" src="./assets/static/svg/brands/fitbit-gray.svg" alt="Image Description">
            </div>
            <div class="col">
              <img class="img-fluid" src="./assets/static/svg/brands/flow-xo-gray.svg" alt="Image Description">
            </div>
            <div class="col">
              <img class="img-fluid" src="./assets/static/svg/brands/layar-gray.svg" alt="Image Description">
            </div>
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Cover -->

      <!-- Start Verify your mail area-->
      <div id="onboard-company"  class="col-lg-6 d-flex justify-content-center align-items-center min-vh-lg-100">

          <div *ngIf="onboardingStarted" class="w-100 pt-10 pt-lg-7 pb-7" style="max-width: 25rem;">
            <div class="text-center">
              <div class="mb-4">
                <img class="avatar avatar-xxl avatar-4by3" src="./assets/static/svg/illustrations/click.svg" alt="Image Description">
              </div>

              <h1 class="display-4">Verify your email</h1>

              <p class="mb-1">We've sent a link to your email address: </p>

              <!-- <span class="d-block text-dark font-weight-bold mb-1">{{email}}</span> -->

              <p>Please follow the link inside to continue.</p>

            <!--  <div class="mt-4 mb-3">
                <a class="btn btn-primary btn-wide" href="index.html">Skip now</a>
              </div>
              -->

              <p>Didn't receive an email? <a href="#">Resend</a></p>
            </div>
          </div>
        <!-- End Verify your mail area-->
          <div *ngIf="!onboardingStarted" class="w-100 pt-10 pt-lg-7 pb-7" style="max-width: 25rem;">
            <!-- Form -->
            <form class="js-validate" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
              <div class="text-center mb-5">
                <h1 class="display-4">Get started with Honevi</h1>
                <p>Start your journey in empowering employees</p>
              </div>


              <!-- Form Group
              <div class="js-form-message form-group">
                <label class="input-label" for="signupSrName">Your company name</label>

                <input type="text" class="form-control form-control-lg" v-model="name" name="name" id="signupSrName" placeholder="Company Name" aria-label="Markwilliams@example.com" required data-msg="Please enter the company name.">
              </div>
              -->
              <div class="js-form-message form-group">
                <label class="input-label" for="signupSrEmail">Your company email</label>

                <input type="email" class="form-control form-control-lg" #email="ngModel" [(ngModel)]="form.email" name="email" id="signupSrEmail" placeholder="Markwilliams@example.com" aria-label="Markwilliams@example.com" required data-msg="Please enter a valid email address.">
              </div>
              <!-- End Form Group -->



              <!-- Checkbox -->
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="termsCheckbox" name="termsCheckbox">
                  <label class="custom-control-label text-muted" for="termsCheckbox"> Accept <a href="#">Terms</a></label>
                </div>
              </div>
              <!-- End Checkbox -->


              <!-- TEMPORARY LINKS -->
              <button type="submit" class="btn btn-lg btn-block btn-primary"><a>Register</a></button>

            </form>
            <!-- End Form -->
          </div>

      </div>
    </div>
    <!-- End Row -->
  </div>
  <!-- End Content -->
</main>
