 <!-- ========== MAIN CONTENT ========== -->
 <main id="content" role="main" class="main pt-0">
  <!-- Content -->
  <div class="container-fluid px-3">
    <div class="row">
      <!-- Cover -->
      <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center min-vh-lg-100 position-relative bg-light px-0">
        <!-- Logo & Language -->
        <div class="position-absolute top-0 left-0 right-0 mt-3 mx-3">
          <div class="d-none d-lg-flex justify-content-between">
            <a href="index.html">
              <img class="w-100" src="./assets/static/svg/logos/logo.svg" alt="Image Description" style="min-width: 7rem; max-width: 7rem;">
            </a>


          </div>
        </div>
        <!-- End Logo & Language -->

        <div style="max-width: 23rem;">
          <!-- Step -->
          <ul class="step">
            <li class="step-item">
              <div class="step-content-wrapper">
                <span class="step-icon step-icon-soft-primary ">1</span>
                <div class="step-content">
                  <h4>Security</h4>
                  <p class="step-text">Set up your security settings.</p>
                  <p> </p>
                </div>
              </div>
            </li>

            <li class="step-item">
              <div class="step-content-wrapper">
                <span class="step-icon step-icon-soft-primary">2</span>
                <div class="step-content">
                  <h4>Company details</h4>
                  <p class="step-text">Set up quickly your company</p>
                  <p> </p>
                </div>
              </div>
            </li>

            <li class="step-item">
              <div class="step-content-wrapper">
                <span class="step-icon step-icon-primary last-step">3</span>
                <div class="step-content">
                  <h4>Done!</h4>
                  <p class="step-text">That's it!</p>
                  <p> </p>
                </div>
              </div>
            </li>
          </ul>
          <!-- End Step -->
        </div>
      </div>
      <!-- End Cover -->

      <div class="col-lg-6 d-flex justify-content-center align-items-center min-vh-lg-100">
        <div class="w-100 pt-10 pt-lg-7 pb-7" style="max-width: 25rem;">
          <div class="text-center">
            <div class="mb-4">
              <img class="avatar avatar-xxl avatar-4by3" src="./assets/static/svg/illustrations/sending.svg" alt="Image Description">
            </div>

            <h1 class="display-4">ING was created!</h1>

            <p class="mb-1">Your company was succesfully created, now you can use Honevi!</p>

            <p>Small tip: Start by inviting some of your colleagues or add all your benefits upfront.</p>

             <div class="mt-4 mb-3">
              <a class="btn btn-lg btn-block btn-primary mb-2" href="/login">Open Honevi</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Row -->
  </div>
  <!-- End Content -->
</main>
